@media (max-width: 768px) {
  .top-bar {
    flex-direction: column; /* Stack the elements vertically on smaller screens */

    height: 10vh;
  }

  .top-left {
    display: none; /* Hide the top-left section on mobile */
  }

  .top-right {
    width: 110%;
    text-align: center;
    gap: 10px;
    margin-top: 10px;
    background: greenyellow;
  }

  .button-container {
    justify-content: flex-end; /* Align the buttons to the right */
    width: 65%;
    gap: 5px;
    margin-left: 50px;
  background: red; 
    height:5vh;
  }

  .top-right a {
    width: 40%; /* Make the buttons full width */
    align-items: left;
    font-size: 15px;
     padding: 5px 5px;
  }
  .notif-logo{
    width: 25px; 
    height: 25px; 
    margin-right: 15px;
    margin-left: 15px;
  }
  .mail-logo{
     width: 25px; 
    height: 20px;
  }
.notification .text, .inquiry .text {
    display: none; /* Hide the text on mobile */
  }
}
